<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogApplication</title>
    <link rel="stylesheet" href="~/css/sidenav.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="~/lib/ionicons/ionicons.css" rel="stylesheet" />

    
</head>
<body>

    <div id="mySidenav" class="sidenav" style="z-index:2;">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
        <a asp-area="" asp-controller="Home" asp-action="Post"><ion-icon name="home"></ion-icon> Home</a>
        <a asp-area="" asp-controller="Home" asp-action="CreatePost"><ion-icon name="add-circle"></ion-icon> Create Post</a>
        <a asp-area="" asp-controller="Home" asp-action="Panel"><ion-icon name="person"></ion-icon> Panel</a>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="z-index:1; ">
            <div class="container">
                <partial name="_LoginPartial" />
                <a class="navbar-brand" onclick="openNav()" style="cursor:pointer;">&#9776;</a>
            </div>
     </nav>

    <partial name="_CookieConsentPartial" />

    <div class="body-content" id="main" style="background: white;">
        <div class="container" style="background: white;">@RenderBody()</div>
    </div>

    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(255,255,255,1)";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "rgba(255,255,255,1)";
        }
    </script>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
